$light-bg: #fff;
$light-border: #202020;
$light-text: #202020;
$light-box-shadow: rgba(20, 20, 20, 0.2);
$light-btn: #eee;
$light-btn-hover: #e2e2e2;
$light-heading: #303030;
$light-link: #404040;
$light-x: #202020;
$light-tripwire: #ff5c6e;

$dark-bg: #202020;
$dark-border: #505050;
$dark-text: #626262;
$dark-box-shadow: rgba(50, 50, 50, 0.2);
$dark-btn: #202020;
$dark-btn-hover: #252525;
$dark-heading: #fff;
$dark-link: #ddd;
$dark-x: #fff;
$dark-tripwire: #ff5c6e;

$grey-bg: #757575;
$grey-border: #202020;
$grey-text: #202020;
$grey-box-shadow: rgba(50, 50, 50, 0.2);
$grey-btn: #707070;
$grey-btn-hover: #6b6b6b;
$grey-heading: #202020;
$grey-link: #303030;
$grey-x: #202020;
$grey-tripwire: #202020;

$terminal-bg: #202020;
$terminal-border: #348524;
$terminal-text: #348524;
$terminal-box-shadow: rgba(50, 50, 50, 0.2);
$terminal-btn: #202020;
$terminal-btn-hover: #252525;
$terminal-heading: #348524;
$terminal-link: #348524;
$terminal-x: #348524;
$terminal-tripwire: #348524;

$acid-bg: #fff;
$acid-border: #202020;
$acid-text: #202020;
$acid-box-shadow: rgba(50, 50, 50, 0.2);
$acid-btn: #202020;
$acid-btn-hover: #252525;
$acid-heading: #f0f;
$acid-link: #f0f;
$acid-x: #f0f;
$acid-tripwire: #f0f;

.modal {
    top: 0;
    left: 0;
    border-radius: 3px;
    position: absolute;
    &Visible {
        visibility: visible;
    }
    &Hidden {
        visibility: hidden;
    }
    p,
    span,
    h4,
    h2,
    li {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    p {
        margin-top: 15px;
    }
    h4 {
        margin-bottom: 10px;
        font-size: 14px;
        text-transform: uppercase;
    }
    ul {
        list-style-position: inside;
        margin: 0 0 10px;
        padding: 0;
        li {
            margin-bottom: 3px;
            list-style-type: none;
        }
        li span {
            margin-left: 10px;
        }
        a {
            text-decoration: none;
        }
        & img {
            margin-bottom: -3px;
        }
    }
    ul.tech li::before {
        content: "+";
    }
    ul.contact {
        list-style: none;
        li {
            margin-bottom: 12px;
            list-style: none;
        }
    }
    .btn {
        display: inline-block;
        font-family: "White Rabbit";
        text-transform: uppercase;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
        padding: 0 15px;
        text-align: center;
        margin: 20px 15px 0 0;
        border-radius: 3px;
    }
    .heading {
        text-transform: uppercase;
        font-family: "White Rabbit";
        font-size: 15px;
    }
    .modalBar {
        padding: 10px;
        cursor: move;
    }
    .body {
        padding: 20px 20px;
        min-width: 230px;
        min-height: 100px;
        resize: both;
        overflow: scroll;
        .aboutLogoContainer {
            margin: 15px 0 30px;
        }
        .about {
            display: grid;
            grid-template-columns: 100px auto;
        }
        h2 {
            font-size: 13px;
            color: $light-text;
            text-transform: uppercase;
            font-family: "Monospace 821 Regular";
            font-weight: 300;
            display: inline;
        }
        h2::after {
            content: ":";
        }
        .about span {
            display: inline-block;
            padding: 0 10px;
        }
        .aboutTitle {
            margin-bottom: 10px;
        }
        .connect {
            margin-top: 30px;
        }
        .about .copyright {
            margin-top: 50px;
            padding: 0;
        }
        .about .aboutDesc a {
            margin-right: 12px;
        }
    }
    .close {
        cursor: pointer;
        float: right;
        margin-top: 3px;
    }
    .mail {
        margin-left: 1px;
    }
    .workIcons {
        padding: 10px 0;
        margin: 0 -10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        text-align: center;
    }
    .workIcon {
        padding: 0 20px;
        flex-shrink: 0;
    }
    .btnContainer {
        margin-bottom: 20px;
    }
    #gnos .st0 {
        fill: #202020;
    }
    &.light {
        background-color: $light-bg;
        border: 1px solid $light-border;
        box-shadow: 5px 5px 0 $light-box-shadow;
        -webkit-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        -moz-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        -o-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        transition: background-color 0.3s ease-out, border 0.3s ease-out;
        p,
        span,
        h4,
        h2,
        li,
        ul.contact a:hover,
        .body .about {
            color: $light-text;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        ul.contact a {
            color: $light-link;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        ul.tech li::before {
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .btn {
            color: $light-text;
            background-color: $light-btn;
            border: 1px solid $light-border;
            -webkit-transition: color 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            transition: color 0.3s ease-out, background-color 0.3s ease-out;
        }
        .btn:hover {
            background-color: $light-btn-hover;
            -webkit-transition: color 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            transition: color 0.3s ease-out, background-color 0.3s ease-out;
        }
        .heading {
            color: $light-heading !important;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .modalBar {
            border-bottom: 1px solid $light-border;
            -webkit-transition: border 0.3s ease-out;
            -moz-transition: border 0.3s ease-out;
            -o-transition: border 0.3s ease-out;
            transition: border 0.3s ease-out;
        }
        .body span {
            background-color: rgba(0, 0, 0, 0.07);
            -webkit-transition: background-color 0.3s ease-out;
            -moz-transition: background-color 0.3s ease-out;
            -o-transition: background-color 0.3s ease-out;
            transition: background-color 0.3s ease-out;
        }
        .about .status span {
            color: #2ec821;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .about .copyright {
            background-color: transparent;
        }
        .gnosPathLight,
        .gnosPathOutline {
            fill: #fff;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .logoPath,
        .frmrPath,
        .gnosPathDark,
        .gnosPathR,
        .mailPath,
        .githubPath,
        .twitterPath {
            fill: #202020;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .xPath {
            fill: $light-x;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .tripwirePath {
            fill: $light-tripwire;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
    }
    &.dark {
        background-color: $dark-bg;
        border: 1px solid $dark-border;
        box-shadow: 5px 5px 0 $dark-box-shadow;
        -webkit-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        -moz-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        -o-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        transition: background-color 0.3s ease-out, border 0.3s ease-out;
        p,
        span,
        h2,
        li,
        ul.contact li a:hover,
        .about h2 {
            color: $dark-text;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        h4,
        ul.tech li::before,
        .workIcon span {
            color: $dark-heading;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        ul.contact li a {
            color: $dark-link;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .btn {
            background-color: $dark-btn;
            border: 1px solid $dark-border;
            color: $dark-heading;
            -webkit-transition: color 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            transition: color 0.3s ease-out, background-color 0.3s ease-out;
        }
        .btn:hover {
            background-color: $dark-btn-hover;
            -webkit-transition: color 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            transition: color 0.3s ease-out, background-color 0.3s ease-out;
        }
        .heading {
            color: $dark-heading !important;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .about .aboutDesc span {
            background-color: rgba(255, 255, 255, 0.07);
            color: $dark-heading;
            -webkit-transition: color 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            transition: color 0.3s ease-out, background-color 0.3s ease-out;
        }
        .about .status span {
            color: #74f269;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .about .copyright {
            background-color: transparent;
        }
        .modalBar {
            border-bottom: 1px solid $dark-border;
            -webkit-transition: border 0.3s ease-out;
            -moz-transition: border 0.3s ease-out;
            -o-transition: border 0.3s ease-out;
            transition: border 0.3s ease-out;
        }
        .gnosPathDark {
            fill: #202020;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .logoPath,
        .frmrPath,
        .mailPath,
        .githubPath,
        .twitterPath,
        .gnosPathLight,
        .gnosPathR {
            fill: #fff;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .xPath {
            fill: $dark-x;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .tripwirePath {
            fill: $dark-tripwire;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
    }
    &.grey {
        background-color: $grey-bg;
        border: 1px solid $grey-border;
        box-shadow: 5px 5px 0 $grey-box-shadow;
        -webkit-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        -moz-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        -o-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        transition: background-color 0.3s ease-out, border 0.3s ease-out;
        p,
        span,
        h2,
        li,
        ul.contact li a:hover,
        .about h2 {
            color: $grey-text;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        ul.contact li a {
            color: $grey-link;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        ul.tech li::before,
        h4,
        .workIcon span {
            color: $grey-heading;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .btn {
            background-color: $grey-btn;
            border: 1px solid $grey-border;
            color: $grey-heading;
            -webkit-transition: color 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            transition: color 0.3s ease-out, background-color 0.3s ease-out;
        }
        .btn:hover {
            background-color: $grey-btn-hover;
            -webkit-transition: color 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            transition: color 0.3s ease-out, background-color 0.3s ease-out;
        }
        .heading {
            color: $grey-heading !important;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .about .aboutDesc span {
            background-color: rgba(255, 255, 255, 0.07);
            color: $grey-heading;
            -webkit-transition: color 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            transition: color 0.3s ease-out, background-color 0.3s ease-out;
        }
        .about .status span {
            color: #74f269;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .about .copyright {
            background-color: transparent;
        }
        .modalBar {
            border-bottom: 1px solid $grey-border;
            -webkit-transition: border 0.3s ease-out;
            -moz-transition: border 0.3s ease-out;
            -o-transition: border 0.3s ease-out;
            transition: border 0.3s ease-out;
        }
        .gnosPathLight,
        .gnosPathOutline {
            fill: #757575;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .logoPath,
        .frmrPath,
        .mailPath,
        .githubPath,
        .twitterPath,
        .gnosPathDark,
        .gnosPathR {
            fill: $grey-x;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .xPath {
            fill: $grey-x;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .tripwirePath {
            fill: $grey-tripwire;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
    }
    &.terminal {
        background-color: $terminal-bg;
        border: 1px solid $terminal-border;
        box-shadow: 5px 5px 0 $terminal-box-shadow;
        -webkit-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        -moz-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        -o-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        transition: background-color 0.3s ease-out, border 0.3s ease-out;
        p,
        span,
        h2,
        li,
        ul.contact li a:hover,
        .about h2 {
            color: $terminal-text;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        ul.contact li a {
            color: $terminal-link;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        ul.tech li::before,
        h4,
        .workIcon span {
            color: $terminal-heading;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .btn {
            background-color: $terminal-btn;
            border: 1px solid $terminal-border;
            color: $terminal-heading;
            -webkit-transition: color 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            transition: color 0.3s ease-out, background-color 0.3s ease-out;
        }
        .btn:hover {
            background-color: $terminal-btn-hover;
            -webkit-transition: color 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            transition: color 0.3s ease-out, background-color 0.3s ease-out;
        }
        .heading {
            color: $terminal-heading !important;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .about .aboutDesc span {
            background-color: rgba(255, 255, 255, 0.07);
            color: $terminal-heading;
            -webkit-transition: color 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            transition: color 0.3s ease-out, background-color 0.3s ease-out;
        }
        .about .status span {
            color: #74f269;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .about .copyright {
            background-color: transparent;
        }
        .modalBar {
            border-bottom: 1px solid $terminal-border;
            -webkit-transition: border 0.3s ease-out;
            -moz-transition: border 0.3s ease-out;
            -o-transition: border 0.3s ease-out;
            transition: border 0.3s ease-out;
        }
        .gnosPathR,
        .gnosPathLight,
        .gnosPathOutline {
            fill: $terminal-text;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .gnosPathDark {
            fill: $terminal-bg;
        }
        .logoPath,
        .frmrPath,
        .mailPath,
        .githubPath,
        .twitterPath,
        .xPath {
            fill: $terminal-x;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .tripwirePath {
            fill: $terminal-tripwire;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
    }
    &.acid {
        background-color: $acid-bg;
        border: 1px solid $acid-border;
        box-shadow: 5px 5px 0 $acid-box-shadow;
        -webkit-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        -moz-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        -o-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        transition: background-color 0.3s ease-out, border 0.3s ease-out;
        p,
        span,
        h2,
        li,
        ul.contact li a:hover,
        .about h2 {
            color: $acid-text;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        ul.contact li a {
            color: $acid-link;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        ul.tech li::before,
        h4,
        .workIcon span {
            color: $acid-heading;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .btn {
            background-color: $acid-btn;
            border: 1px solid $acid-border;
            color: $acid-heading;
            -webkit-transition: color 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            transition: color 0.3s ease-out, background-color 0.3s ease-out;
        }
        .btn:hover {
            background-color: $acid-btn-hover;
            -webkit-transition: color 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            transition: color 0.3s ease-out, background-color 0.3s ease-out;
        }
        .heading {
            color: $acid-heading !important;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .about .aboutDesc span {
            background-color: rgba(255, 255, 255, 0.07);
            color: $acid-heading;
            -webkit-transition: color 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            transition: color 0.3s ease-out, background-color 0.3s ease-out;
        }
        .about .status span {
            color: #74f269;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .about .copyright {
            background-color: transparent;
        }
        .modalBar {
            border-bottom: 1px solid $acid-border;
            -webkit-transition: border 0.3s ease-out;
            -moz-transition: border 0.3s ease-out;
            -o-transition: border 0.3s ease-out;
            transition: border 0.3s ease-out;
        }
        .gnosPathR,
        .gnosPathLight,
        .gnosPathOutline {
            fill: $acid-text;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .gnosPathDark {
            fill: $acid-bg;
        }
        .logoPath,
        .frmrPath,
        .mailPath,
        .githubPath,
        .twitterPath,
        .xPath {
            fill: $acid-x;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .tripwirePath {
            fill: $acid-tripwire;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
    }
}
