$light-bg: #fff;
$dark-bg: #202020;
$light-border: #202020;
$dark-border: #f2a11d;
$light-text: #202020;
$dark-text: #f2a11d;
$light-box-shadow: rgba(20, 20, 20, 0.2);
$dark-box-shadow: rgba(242, 160, 29, 0.2);
$light-btn: #eee;
$light-btn-hover: #ddd;
$dark-btn: #272727;
$dark-btn-hover: #373737;
$light-heading: #303030;
$light-link: #404040;
$dark-link: #ddd;

.modal {
    background-color: $light-bg;
    border: 1px solid $light-border;
    border-radius: 3px;
    box-shadow: 5px 5px 0 $light-box-shadow;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: background-color 0.3s ease-out, border 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out, border 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out, border 0.3s ease-out;
    transition: background-color 0.3s ease-out, border 0.3s ease-out;
    &dark {
        background-color: $dark-bg;
        border: 1px solid $dark-border;
        box-shadow: 5px 5px 0 $dark-box-shadow;
        -webkit-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        -moz-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        -o-transition: background-color 0.3s ease-out, border 0.3s ease-out;
        transition: background-color 0.3s ease-out, border 0.3s ease-out;
    }
    &Visible {
        visibility: visible;
    }
    &Hidden {
        visibility: hidden;
    }
    & p,
    span,
    h4,
    li {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: $light-text;
        -webkit-transition: color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out;
        -o-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out;
    }
    & p {
        margin-top: 15px;
    }
    & h4 {
        font-family: "PixelMix";
        margin-bottom: 10px;
        font-size: 12px;
        text-transform: uppercase;
    }
    &dark p,
    &dark span,
    &dark h4,
    &dark li {
        color: $dark-text;
        -webkit-transition: color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out;
        -o-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out;
    }
    & ul {
        list-style-position: inside;
        margin: 0 0 10px;
        padding: 0;
        & li {
            margin-bottom: 3px;
            list-style-type: "+";
        }
        & li span {
            margin-left: 10px;
        }
        & a {
            text-decoration: none;
            color: $light-text;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        & img {
            margin-bottom: -3px;
        }
    }
    & ul.contact {
        list-style: none;
        & li {
            margin-bottom: 12px;
            list-style: none;
            & a {
                color: $light-link;
                -webkit-transition: color 0.3s ease-out;
                -moz-transition: color 0.3s ease-out;
                -o-transition: color 0.3s ease-out;
                transition: color 0.3s ease-out;
            }
            & a:hover {
                color: $light-text;
                -webkit-transition: color 0.3s ease-out;
                -moz-transition: color 0.3s ease-out;
                -o-transition: color 0.3s ease-out;
                transition: color 0.3s ease-out;
            }
        }
    }
    &dark ul.contact li a {
        color: $dark-link;
        -webkit-transition: color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out;
        -o-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out;
    }
    &dark ul.contact li a:hover {
        color: $dark-text;
        -webkit-transition: color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out;
        -o-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out;
    }
    & .btn {
        display: inline-block;
        font-family: "White Rabbit";
        text-transform: uppercase;
        border: 1px solid $light-border;
        height: 40px;
        line-height: 40px;
        background-color: $light-btn;
        color: $light-text;
        text-decoration: none;
        padding: 0 15px;
        text-align: center;
        margin: 20px 15px 0 0;
        border-radius: 3px;
        -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
        -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
        transition: color 0.3s ease-out, background-color 0.3s ease-out;
    }
    & .btn:hover {
        background-color: $light-btn-hover;
        -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
        -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
        transition: color 0.3s ease-out, background-color 0.3s ease-out;
    }
    &dark .btn {
        background-color: $dark-btn;
        border: 1px solid $dark-border;
        color: $dark-text;
        -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
        -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
        transition: color 0.3s ease-out, background-color 0.3s ease-out;
    }
    &dark .btn:hover {
        background-color: $dark-btn-hover;
        -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
        -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
        transition: color 0.3s ease-out, background-color 0.3s ease-out;
    }
    & .heading {
        text-transform: uppercase;
        font-family: "White Rabbit";
        font-size: 15px;
        color: $light-heading !important;
        -webkit-transition: color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out;
        -o-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out;
    }
    &dark .heading {
        color: $dark-text !important;
        -webkit-transition: color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out;
        -o-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out;
    }
}

.modalBar {
    padding: 10px;
    border-bottom: 1px solid $light-border;
    -webkit-transition: border 0.3s ease-out;
    -moz-transition: border 0.3s ease-out;
    -o-transition: border 0.3s ease-out;
    transition: border 0.3s ease-out;
    cursor: move;
    &dark {
        border-bottom: 1px solid $dark-border;
        -webkit-transition: border 0.3s ease-out;
        -moz-transition: border 0.3s ease-out;
        -o-transition: border 0.3s ease-out;
        transition: border 0.3s ease-out;
    }
}

.body {
    padding: 20px 20px;
    min-width: 230px;
    min-height: 100px;
    resize: both;
    overflow: scroll;
}

.close {
    cursor: pointer;
    float: right;
    margin-top: 3px;
}

.mail {
    margin-left: 1px;
}

.workIcons {
    padding: 10px 0;
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: center;
}

.workIcon {
    padding: 0 20px;
    flex-shrink: 0;
}

.btnContainer {
    margin-bottom: 20px;
}

#gnos .st0 {
    fill: #202020;
}
