.modal {
    background-color: #fff;
    border: 1px solid #202020;
    box-shadow: 5px 5px 0 rgba(20, 20, 20, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    &Visible {
        visibility: visible;
    }
    &Hidden {
        visibility: hidden;
    }
    & p,
    span {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    & ul {
        list-style: none;
        margin: 0;
        padding: 0;
        & li {
            margin-bottom: 12px;
        }
        & a {
            text-decoration: none;
            color: #202020;
        }
        & img {
            margin-bottom: -3px;
        }
    }
}

.modalBar {
    padding: 10px;
    border-bottom: 1px solid #202020;
    cursor: move;
}

.body {
    padding: 15px 10px;
    min-width: 200px;
    min-height: 100px;
    resize: both;
    overflow: scroll;
}

.heading {
    text-transform: uppercase;
}

.close {
    cursor: pointer;
    float: right;
    margin-top: 3px;
}

.mail {
    margin-left: 1px;
}

.workIcons {
    padding-left: 10px;
    display: flex;
    justify-content: left;
    text-align: center;
}

.workIcon {
    padding-right: 40px;
}
