.navList {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  padding-top: 30px;
  padding-right: 30px;
  text-align: right;
  z-index: 9999;
}

.navList a {
  position: relative;
  margin-bottom: 3px;
  font-weight: 300;
  text-decoration: none;
}

.darkMode a {
  color: #ff0000;
}

.lightMode a {
  color: #202020;
}
