$light-bg: #fff;
$light-border: #202020;
$light-text: #202020;
$light-hover: #f2f2f2;
$light-slider-track: #999;

$dark-bg: #202020;
$dark-border: #900;
$dark-text: #900;
$dark-hover: #252525;
$dark-heading: #fff;
$dark-slider-thumb: #858585;

$grey-bg: rgba(255, 0, 40, 0.4);
$grey-border: #fff;
$grey-text: #fff;
$grey-hover: rgba(255, 0, 40, 0.6);

$terminal-bg: #202020;
$terminal-border: #31da10;
$terminal-text: #31da10;
$terminal-hover: #252525;

$acid-bg: rgba(139, 0, 255, 0.96);
$acid-border: #353535;
$acid-text: #9dff00;
$acid-hover: rgba(125, 0, 222, 0.96);

$breakpoint-laptop: 1200px;
$breakpoint-tablet-landscape: 821px;
$breakpoint-tablet-portrait: 481px;

// MOBILE

.toolbar {
    z-index: 999;
    width: 100%;
    height: 50px;
    bottom: 0;
    display: flex;
    position: fixed;
    box-sizing: border-box;
    text-align: center;
    flex-wrap: wrap-reverse;
    font-size: 12px;
    .logo {
        padding: 6px 0;
        svg {
            width: 35px;
        }
    }
    .sliderContainer {
        .drawer {
            padding-top: 20px;
        }
        .return {
            margin-top: 20px;
        }
    }
    .themePicker,
    .sliderContainer {
        display: block;
        margin-left: -1px;
        width: calc((100% / 4) + 0.5px);
        height: 50px;
        position: relative;
        z-index: 0;
        .toolbarClickHandler {
            height: 51px;
        }
        .drawer {
            span {
                display: block;
                padding: 15px 0;
                height: 50px;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
        .toolbarClickHandler {
            cursor: pointer;
            width: 100%;
        }
        .iconContainer {
            border-right: none;
        }
        .return {
            cursor: pointer;
            height: 180px;
            padding: 12px;
            svg {
                width: 24px;
            }
        }
    }
    .time,
    .contact {
        z-index: 9999;
        margin-left: -1px;
    }
    .contact {
        margin-right: -1px;
    }
    .themePicker,
    .sliderContainer,
    .userSettings {
        .iconContainer {
            height: 50px;
        }
    }
    .sliderContainer {
        .iconContainer {
            padding: 8px;
            svg {
                width: 38px;
            }
        }
    }
    .themePicker,
    .userSettings {
        .iconContainer {
            padding: 12px;
            svg {
                width: 27px;
            }
        }
    }
    .logo {
        order: 4;
    }
    .sliderContainer {
        order: 7;
        .slider {
            width: 10px;
            height: 109px;
            margin: 0 auto;
        }
        .sliderThumb {
            height: 14px;
            line-height: 25px;
            width: 38px;
            text-align: center;
            left: -14px;
            border-radius: 3px;
            cursor: grab;
        }
        .sliderTrack {
            top: 20px;
            bottom: 20px;
            width: 10px;
            background: #f00;
            border-radius: 2px;
        }
    }
    .userSettings {
        order: 5;
    }
    .themePicker {
        order: 6;
        cursor: pointer;
    }
    .break {
        order: 3;
    }
    .nav {
        order: 1;
    }
    .time {
        order: 2;
    }
    .nav,
    .userSettings,
    .time,
    .logo {
        width: 25%;
        display: flex;
        flex: 2 0 0;
        height: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .time {
        margin-left: -1px;
        span {
            font-size: 17px;
            font-family: "Alarm Clock";
        }
    }
    .nav,
    .userSettings {
        cursor: pointer;
    }
    .frmr {
        display: none;
    }
    .span,
    .navlink {
        text-transform: uppercase;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .span {
        cursor: default;
    }
    .break {
        flex-basis: 100%;
        height: 0;
    }
    .logo,
    .nav,
    .userSettings,
    .frmr,
    .themePicker .drawer,
    .themePicker .iconContainer {
        transition: border 0.3s ease-out;
        span {
            transition: color 0.3s ease-out, background-color 0.3s ease-out;
        }
    }
    .contact,
    .time,
    .nav:hover,
    .userSettings:hover,
    .themePicker .iconContainer:hover {
        transition: background-color 0.3s ease-out;
    }
    .nav,
    .frmr,
    .logo,
    .userSettings,
    .time {
        transition: border 0.3s ease-out, background-color 0.3s ease-out;
    }
    .time span {
        transition: color 0.3s ease-out, background-color 0.3s ease-out;
    }
    .logoPath,
    .frmrPath,
    .themePickerPath,
    .returnPath,
    .userSettingsPath,
    .sliderPath {
        transition: fill 0.3s ease-out;
    }
    .themePicker,
    .sliderContainer {
        .toolbarClickHandler {
            transition: border 0.3s ease-out;
        }
        span {
            transition: color 0.3s ease-out, border 0.3s ease-out,
                background-color 0.3s ease-out;
        }
        span:hover,
        .return:hover {
            transition: background-color 0.3s ease-out;
        }
        .drawer {
            transition: background-color 0.3s ease-out, border 0.3s ease-out;
        }
        .iconContainer {
            transition: background-color 0.3s ease-out, border 0.3s ease-out;
            &:hover {
                transition: background-color 0.3s ease-out;
            }
        }
    }
    .sliderContainer {
        .iconContainer {
            border-right: none;
        }
        .sliderThumb {
            transition: background-color 0.3s ease-out, border 0.3s ease-out,
                box-shadow 0.3s ease-out;
        }
        .sliderTrack {
            transition: background-color 0.3s ease-out;
        }
        .return {
            transition: border 0.3s ease-out;
        }
    }
    &.light {
        .logo,
        .nav,
        .userSettings,
        .frmr,
        .themePicker .drawer,
        .themePicker .iconContainer {
            border-right: 1px solid $light-border;
            span {
                color: $light-text;
            }
        }
        .contact,
        .time {
            border-left: 1px solid $light-border;
        }
        .nav,
        .frmr,
        .logo,
        .userSettings,
        .time {
            background-color: $light-bg;
            border-top: 1px solid $light-border;
        }
        .nav:hover,
        .userSettings:hover,
        .themePicker .iconContainer:hover {
            background-color: $light-hover;
        }
        .logoPath,
        .frmrPath,
        .themePickerPath,
        .returnPath,
        .userSettingsPath,
        .sliderPath {
            fill: #202020;
        }
        .themePicker,
        .sliderContainer {
            .toolbarClickHandler {
                border-bottom: 1px solid $light-border;
            }
            span {
                color: $light-text;
                border-bottom: 1px solid $light-border;
                background-color: transparent;
            }
            span:hover,
            .return:hover {
                background-color: $light-hover;
            }
            .drawer {
                background-color: $light-bg;
                border-left: 1px solid $light-border;
            }
            .iconContainer {
                border-left: 1px solid $light-border;
                border-top: 1px solid $light-border;
                background-color: $light-bg;
                &:hover {
                    background-color: $light-hover;
                }
            }
        }
        .sliderContainer {
            .iconContainer {
                border-right: none;
            }
            .sliderThumb {
                border: 1px solid $light-border;
                background-color: $light-hover;
                box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
            }
            .sliderTrack {
                background-color: $light-slider-track;
            }
            .return {
                border-top: 1px solid $light-border;
            }
        }
    }
    &.dark {
        .logo,
        .nav,
        .userSettings,
        .frmr,
        .themePicker .drawer,
        .themePicker .iconContainer {
            border-right: 1px solid $dark-border;
            span {
                color: $dark-text;
            }
        }
        .contact,
        .time {
            border-left: 1px solid $dark-border;
        }
        .time span {
            color: #f00;
            background-color: #432020;
        }
        .nav,
        .frmr,
        .logo,
        .userSettings,
        .time {
            background-color: $dark-bg;
            border-top: 1px solid $dark-border;
        }
        .nav:hover,
        .userSettings:hover,
        .themePicker .iconContainer:hover {
            background-color: $dark-hover;
        }
        .logoPath,
        .frmrPath,
        .themePickerPath,
        .returnPath,
        .userSettingsPath,
        .sliderPath {
            fill: #900;
        }
        .themePicker,
        .sliderContainer {
            .toolbarClickHandler {
                border-bottom: 1px solid $dark-border;
            }
            span {
                color: $dark-text;
                border-bottom: 1px solid $dark-border;
            }
            span:hover,
            .return:hover {
                background-color: $dark-hover;
            }
            .drawer {
                background-color: $dark-bg;
                border-left: 1px solid $dark-border;
            }
            .iconContainer {
                border-left: 1px solid $dark-border;
                border-top: 1px solid $dark-border;
                background-color: $dark-bg;
                &:hover {
                    background-color: $dark-hover;
                }
            }
        }
        .sliderContainer {
            .sliderThumb {
                border: 1px solid $dark-bg;
                background-color: $dark-slider-thumb;
                box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2);
            }
            .sliderTrack {
                background-color: #f00;
            }
            .return {
                border-top: 1px solid $dark-border;
            }
        }
    }
    &.grey {
        .logo,
        .nav,
        .userSettings,
        .frmr,
        .themePicker .drawer,
        .themePicker .iconContainer {
            border-right: 1px solid $grey-border;
            // span {
            //     color: $grey-text;
            //     &:hover {
            //         background-color: $grey-hover;
            //     }
            // }
        }
        .contact,
        .time {
            border-left: 1px solid $grey-border;
        }
        .nav,
        .frmr,
        .logo,
        .userSettings,
        .time {
            color: #fff;
            background-color: $grey-bg;
            border-top: 1px solid $grey-border;
        }
        .nav:hover,
        .userSettings:hover,
        .themePicker .iconContainer:hover {
            background-color: $grey-hover;
        }
        .logoPath,
        .frmrPath,
        .themePickerPath,
        .returnPath,
        .userSettingsPath,
        .sliderPath {
            fill: #fff;
        }
        .themePicker,
        .sliderContainer {
            .toolbarClickHandler {
                border-bottom: 1px solid $grey-border;
            }
            span {
                color: $grey-text;
                border-bottom: 1px solid $grey-border;
            }
            span:hover,
            .return:hover {
                background-color: rgba(255, 0, 40, 0.6);
                // background-color: #000;
            }
            .drawer {
                background-color: $grey-bg;
                border-left: 1px solid $grey-border;
            }
            .iconContainer {
                border-left: 1px solid $grey-border;
                border-top: 1px solid $grey-border;
                background-color: $grey-bg;
                &:hover {
                    background-color: $grey-hover;
                }
            }
        }
        .sliderContainer {
            .sliderThumb {
                border: 1px solid $grey-border;
                background-color: $grey-hover;
                box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2);
            }
            .sliderTrack {
                background-color: $grey-border;
            }
            .return {
                border-top: 1px solid $grey-border;
            }
        }
    }
    &.terminal {
        .logo,
        .nav,
        .userSettings,
        .frmr,
        .themePicker .drawer,
        .themePicker .iconContainer {
            border-right: 1px solid $terminal-border;
            span {
                color: $terminal-text;
            }
        }
        .time span {
            color: $terminal-text;
        }
        .contact,
        .time {
            border-left: 1px solid $terminal-border;
        }
        .nav,
        .frmr,
        .logo,
        .userSettings,
        .time {
            background-color: $terminal-bg;
            border-top: 1px solid $terminal-border;
        }
        .nav:hover,
        .userSettings:hover,
        .themePicker .iconContainer:hover {
            background-color: $terminal-hover;
        }
        .logoPath,
        .frmrPath,
        .themePickerPath,
        .returnPath,
        .userSettingsPath,
        .sliderPath {
            fill: $terminal-text;
        }
        .themePicker,
        .sliderContainer {
            .toolbarClickHandler {
                border-bottom: 1px solid $terminal-border;
            }
            span {
                color: $terminal-text;
                border-bottom: 1px solid $terminal-border;
                background-color: transparent;
            }
            span:hover,
            .return:hover {
                background-color: $terminal-hover;
            }
            .drawer {
                background-color: $terminal-bg;
                border-left: 1px solid $terminal-border;
            }
            .iconContainer {
                border-left: 1px solid $terminal-border;
                border-top: 1px solid $terminal-border;
                background-color: $terminal-bg;
                &:hover {
                    background-color: $terminal-hover;
                }
            }
        }
        .sliderContainer {
            .sliderThumb {
                border: 1px solid $terminal-border;
                background-color: $terminal-hover;
                box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
            }
            .sliderTrack {
                background-color: $terminal-border;
            }
            .return {
                border-top: 1px solid $terminal-border;
            }
        }
    }
    &.acid {
        .logo,
        .nav,
        .userSettings,
        .frmr,
        .themePicker .drawer,
        .themePicker .iconContainer {
            border-right: 1px solid $acid-border;
            span {
                color: $acid-text;
            }
        }
        .contact,
        .time {
            border-left: 1px solid $acid-border;
        }
        .time span {
            color: $acid-text;
        }
        .nav,
        .frmr,
        .logo,
        .userSettings,
        .time {
            background: $acid-bg;
            border-top: 1px solid $acid-border;
        }
        .nav:hover,
        .userSettings:hover,
        .themePicker .iconContainer:hover {
            background-color: $acid-hover;
        }
        .work span,
        .about span,
        .contact span {
            color: $acid-text;
        }
        .logoPath,
        .frmrPath,
        .themePickerPath,
        .returnPath,
        .userSettingsPath,
        .sliderPath {
            fill: $acid-text;
        }
        .themePicker,
        .sliderContainer {
            .toolbarClickHandler {
                border-bottom: 1px solid $acid-border;
            }
            span {
                color: $acid-text;
                border-bottom: 1px solid $acid-border;
                background-color: transparent;
            }
            span:hover,
            .return:hover {
                background-color: $acid-hover;
            }
            .drawer {
                background-color: $acid-bg;
                border-left: 1px solid $acid-border;
            }
            .iconContainer {
                border-left: 1px solid $acid-border;
                border-top: 1px solid $acid-border;
                background-color: $acid-bg;
                &:hover {
                    background-color: $acid-hover;
                }
            }
        }
        .sliderContainer {
            .sliderThumb {
                border: 1px solid $acid-border;
                background-color: #9b9b9b;
                box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
            }
            .sliderTrack {
                background-color: $acid-text;
            }
            .return {
                border-top: 1px solid $acid-border;
            }
        }
    }
}

// TABLET PORTRAIT

@media (min-width: $breakpoint-tablet-portrait) {
    .toolbar {
        .nav,
        .userSettings,
        .time,
        .logo {
            display: flex;
            flex: 1 0 0;
            height: 100%;
            position: relative;
            align-items: center;
            justify-content: center;
        }
        .logo {
            order: 1;
        }
        .nav {
            order: 2;
        }
        .frmr {
            order: 3;
        }
        .userSettings {
            order: 4;
        }
        .themePicker {
            order: 5;
            cursor: pointer;
        }
        .sliderContainer {
            order: 6;
        }
        .time {
            order: 7;
            span {
                font-size: 13px;
            }
        }
        .logo svg {
            width: 35px;
        }
        .sliderContainer,
        .userSettings,
        .themPicker,
        .time {
            bottom: 0;
        }
        .themePicker,
        .userSettings,
        .sliderContainer {
            .return {
                svg {
                    width: 23px;
                }
            }
        }
        .themePicker,
        .userSettings {
            .iconContainer {
                padding: 12px;
                height: 50px;
                svg {
                    width: 27px;
                }
            }
        }
        .sliderContainer {
            .iconContainer {
                padding: 8px;
                height: 50px;
                svg {
                    width: 37px;
                }
            }
        }
        .themePicker,
        .sliderContainer {
            display: block;
            margin-left: -1px;
            height: 50px;
            position: relative;
            width: calc(100% / 8);
        }
        .break {
            flex-basis: auto;
        }
        .sliderContainer .drawer,
        .sliderContainer .iconContainer {
            transition: background-color 0.3s ease-out, border 0.3s ease-out;
        }
        &.light {
            .sliderContainer .drawer,
            .sliderContainer .iconContainer {
                border-right: 1px solid $light-border !important;
                background-color: $light-bg;
            }
            .time {
                border-left: 1px solid $light-border;
            }
        }
        &.dark {
            .sliderContainer .drawer,
            .sliderContainer .iconContainer {
                border-right: 1px solid $dark-border !important;
                background-color: $dark-bg;
            }
            .time {
                border-left: 1px solid $dark-border;
            }
        }
        &.grey {
            .sliderContainer .drawer,
            .sliderContainer .iconContainer {
                border-right: 1px solid $grey-border !important;
                background-color: $grey-bg;
            }
            .time {
                border-left: 1px solid $grey-border;
            }
        }
        &.terminal {
            .sliderContainer .drawer,
            .sliderContainer .iconContainer {
                border-right: 1px solid $terminal-border !important;
                background-color: $terminal-bg;
            }
            .time {
                border-left: 1px solid $terminal-border;
            }
        }
        &.acid {
            .sliderContainer .drawer,
            .sliderContainer .iconContainer {
                border-right: 1px solid $acid-border !important;
            }
            .time {
                border-left: 1px solid $acid-border;
            }
        }
    }
}

// TABLET LANDSCAPE

@media (min-width: $breakpoint-tablet-landscape) {
    .toolbar {
        font-size: 12px;
        height: 60px;
        .nav,
        .sliderContainer,
        .userSettings,
        .time,
        .themePicker,
        .logo {
            width: 80px;
            flex: 0 0 auto;
            text-align: center;
        }
        .time span {
            font-size: 14px;
        }
        .logo {
            padding: 8px 0;
            svg {
                width: 42px;
            }
        }
        .frmr {
            display: flex;
            flex: 1 0 auto;
            position: relative;
            bottom: 0;
            width: auto;
            padding: 0;
            height: 60px;
            align-items: center;
            justify-content: center;
            svg {
                width: 80px;
            }
        }
        .themePicker,
        .sliderContainer {
            width: 80px;
            height: 60px;
            .toolbarClickHandler {
                height: 61px;
            }
            .drawer {
                span {
                    display: block;
                    padding: 20px 0;
                    height: 60px;
                    text-transform: uppercase;
                    cursor: pointer;
                }
                .slider {
                    height: 79px;
                }
            }
            .return {
                padding: 17px;
                svg {
                    width: 27px;
                }
            }
        }
        .themePicker {
            .iconContainer {
                padding: 15px;
                height: 60px;
                svg {
                    width: 30px;
                }
            }
        }
        .userSettings {
            .iconContainer {
                padding: 16px;
                height: 60px;
                svg {
                    width: 28px;
                }
            }
        }
        .sliderContainer {
            .iconContainer {
                padding: 11px;
                height: 60px;
                svg {
                    width: 40px;
                }
            }
        }
    }
}

// LAPTOP +

@media (min-width: $breakpoint-laptop) {
    .toolbar {
        height: 70px;
        font-size: 14px;
        .nav,
        .sliderContainer,
        .userSettings,
        .time,
        .themePicker,
        .logo {
            width: 100px;
            svg {
                width: 50px;
            }
        }
        .time span {
            font-size: 18px;
        }
        .frmr {
            height: 70px;
            svg {
                width: 110px;
            }
        }
        .themePicker,
        .sliderContainer {
            width: 100px;
            height: 70px;
            .sliderDrawer {
                display: block;
            }
            .drawer {
                width: 100px;
                span {
                    display: block;
                    padding: 24px 0;
                    height: 70px;
                    text-transform: uppercase;
                    cursor: pointer;
                }
                .slider {
                    height: 99px;
                }
            }
            .return {
                padding: 19px;
                svg {
                    width: 30px;
                }
            }
        }
        .themePicker,
        .sliderContainer {
            .iconContainer {
                height: 70px;
            }
            .toolbarClickHandler {
                height: 71px;
            }
        }
        .themePicker {
            .iconContainer {
                padding: 18px;
                svg {
                    width: 35px;
                }
            }
        }
        .sliderContainer {
            .iconContainer {
                padding: 14px;
                svg {
                    width: 47px;
                }
            }
        }
        .userSettings {
            .iconContainer {
                padding: 13px;
                svg {
                    width: 33px;
                }
            }
        }
    }
}
