$light-bg: #fff;
$light-border: #202020;
$light-text: #202020;
$light-hover: #f2f2f2;

$dark-bg: #202020;
$dark-border: #505050;
$dark-text: #ccc;
$dark-hover: #252525;
$dark-heading: #fff;

$grey-bg: #757575;
$grey-border: #202020;
$grey-text: #202020;
$grey-hover: #707070;

$terminal-bg: #202020;
$terminal-border: #348524;
$terminal-text: #348524;
$terminal-hover: #252525;

$acid-bg: rgba(32, 32, 32, 0.96);
$acid-border: #f0f;
$acid-text: #8fdb0a;
$acid-hover: rgba(37, 37, 37, 0.96);

$breakpoint-laptop: 1200px;
$breakpoint-tablet-landscape: 821px;
$breakpoint-tablet-portrait: 560px;

// MOBILE

.toolbar {
    z-index: 999;
    width: 100%;
    height: 50px;
    bottom: 0;
    display: flex;
    position: fixed;
    box-sizing: border-box;
    text-align: center;
    flex-wrap: wrap-reverse;
    font-size: 12px;
    .logo {
        padding: 6px 0;
        svg {
            width: 35px;
        }
    }
    .themePicker {
        display: block;
        cursor: pointer;
        margin-left: -1px;
        width: calc((100% / 4) + 0.5px);
        height: 50px;
        position: relative;
        z-index: 0;
        .themeDrawer {
            span {
                display: block;
                padding: 15px 0;
                height: 50px;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
        .iconContainer {
            border-right: none;
        }
        .themePickerSpacer {
            height: 120px;
            padding: 14px;
            svg {
                width: 25px;
            }
        }
    }
    .time {
        z-index: 9999;
        margin-left: -1px;
    }
    .themePicker,
    .weather,
    .location {
        .iconContainer {
            padding: 11px;
            height: 51px;
            svg {
                width: 28px;
            }
        }
    }
    .logo {
        order: 4;
    }
    .weather {
        order: 5;
    }
    .location {
        order: 6;
    }
    .themePicker {
        order: 7;
    }
    .break {
        order: 3;
    }
    .nav {
        order: 1;
    }
    .time {
        order: 2;
    }
    .nav,
    .weather,
    .location,
    .time,
    .logo {
        width: 25%;
        display: flex;
        flex: 2 0 0;
        height: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .time {
        margin-left: -1px;
        span {
            font-size: 17px;
            font-family: "Alarm Clock";
        }
    }
    .nav {
        cursor: pointer;
    }
    .frmr {
        display: none;
    }
    .span,
    .navlink {
        text-transform: uppercase;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .span {
        cursor: default;
    }
    .break {
        flex-basis: 100%;
        height: 0;
    }
    &.light {
        .logo,
        .nav,
        .weather,
        .location,
        .frmr {
            border-right: 1px solid $light-border;
            -webkit-transition: border 0.3s ease-out;
            -moz-transition: border 0.3s ease-out;
            -o-transition: border 0.3s ease-out;
            transition: border 0.3s ease-out;
            span {
                color: $light-text;
                -webkit-transition: color 0.3s ease-out;
                -moz-transition: color 0.3s ease-out;
                -o-transition: color 0.3s ease-out;
                transition: color 0.3s ease-out;
            }
        }
        .nav,
        .frmr,
        .logo,
        .weather,
        .location,
        .time {
            background-color: $light-bg;
            border-top: 1px solid $light-border;
            -webkit-transition: border 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: border 0.3s ease-out,
                background-color 0.3s ease-out;
            -o-transition: border 0.3s ease-out, background-color 0.3s ease-out;
            transition: border 0.3s ease-out, background-color 0.3s ease-out;
        }
        .nav:hover,
        .themePicker iconContainer:hover {
            background-color: $light-hover;
            -webkit-transition: background-color 0.3s ease-out;
            -moz-transition: background-color 0.3s ease-out;
            -o-transition: background-color 0.3s ease-out;
            transition: background-color 0.3s ease-out;
        }
        .logoPath,
        .frmrPath,
        .themePickerPath,
        .returnPath {
            fill: #202020;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .themePicker {
            span,
            .themePickerSpacer {
                color: $light-text;
                border-bottom: 1px solid $light-border;
                background-color: transparent;
                -webkit-transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
                -moz-transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
                -o-transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
                transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
            }
            span:hover,
            .themePickerSpacer:hover {
                background-color: $light-hover;
                -webkit-transition: background-color 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out;
                transition: background-color 0.3s ease-out;
            }
            .themeDrawer {
                background-color: $light-bg;
                border-left: 1px solid $light-border;
                -webkit-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                transition: background-color 0.3s ease-out, border 0.3s ease-out;
            }
            .iconContainer {
                border-left: 1px solid $light-border;
                border-top: 1px solid $light-border;
                border-bottom: 1px solid $light-border;
                background-color: $light-bg;
                -webkit-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                transition: background-color 0.3s ease-out, border 0.3s ease-out;
                &:hover {
                    background-color: $light-hover;
                    -webkit-transition: background-color 0.3s ease-out;
                    -moz-transition: background-color 0.3s ease-out;
                    -o-transition: background-color 0.3s ease-out;
                    transition: background-color 0.3s ease-out;
                }
            }
        }
    }
    &.dark {
        .logo,
        .nav,
        .weather,
        .location,
        .frmr {
            border-right: 1px solid $dark-border;
            -webkit-transition: border 0.3s ease-out;
            -moz-transition: border 0.3s ease-out;
            -o-transition: border 0.3s ease-out;
            transition: border 0.3s ease-out;
            span {
                color: $dark-text;
                -webkit-transition: color 0.3s ease-out;
                -moz-transition: color 0.3s ease-out;
                -o-transition: color 0.3s ease-out;
                transition: color 0.3s ease-out;
            }
        }
        .time span {
            color: #f00;
            background-color: #432020;
            -webkit-transition: color 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
            transition: color 0.3s ease-out, background-color 0.3s ease-out;
        }
        .nav,
        .frmr,
        .logo,
        .weather,
        .location,
        .time {
            background-color: $dark-bg;
            border-top: 1px solid $dark-border;
            -webkit-transition: border 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: border 0.3s ease-out,
                background-color 0.3s ease-out;
            -o-transition: border 0.3s ease-out, background-color 0.3s ease-out;
            transition: border 0.3s ease-out, background-color 0.3s ease-out;
        }
        .nav:hover,
        .themePicker .iconContainer:hover {
            background-color: $dark-hover;
            -webkit-transition: background-color 0.3s ease-out;
            -moz-transition: background-color 0.3s ease-out;
            -o-transition: background-color 0.3s ease-out;
            transition: background-color 0.3s ease-out;
        }
        .logoPath,
        .frmrPath,
        .themePickerPath,
        .returnPath {
            fill: #fff;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .themePicker {
            span,
            .themePickerSpacer {
                color: $dark-text;
                border-bottom: 1px solid $dark-border;
                background-color: transparent;
                -webkit-transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
                -moz-transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
                -o-transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
                transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
            }
            span:hover,
            .themePickerSpacer:hover {
                background-color: $dark-hover;
                -webkit-transition: background-color 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out;
                transition: background-color 0.3s ease-out;
            }
            .themeDrawer {
                background-color: $dark-bg;
                border-left: 1px solid $dark-border;
                -webkit-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                transition: background-color 0.3s ease-out, border 0.3s ease-out;
            }
            .iconContainer {
                border-left: 1px solid $dark-border;
                border-top: 1px solid $dark-border;
                border-bottom: 1px solid $dark-border;
                background-color: $dark-bg;
                -webkit-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                transition: background-color 0.3s ease-out, border 0.3s ease-out;
                &:hover {
                    background-color: $dark-hover;
                    -webkit-transition: background-color 0.3s ease-out;
                    -moz-transition: background-color 0.3s ease-out;
                    -o-transition: background-color 0.3s ease-out;
                    transition: background-color 0.3s ease-out;
                }
            }
        }
    }
    &.grey {
        .logo,
        .nav,
        .weather,
        .location,
        .frmr {
            border-right: 1px solid $grey-border;
            -webkit-transition: border 0.3s ease-out;
            -moz-transition: border 0.3s ease-out;
            -o-transition: border 0.3s ease-out;
            transition: border 0.3s ease-out;
            span {
                color: $grey-text;
                -webkit-transition: color 0.3s ease-out;
                -moz-transition: color 0.3s ease-out;
                -o-transition: color 0.3s ease-out;
                transition: color 0.3s ease-out;
            }
        }
        .nav,
        .frmr,
        .logo,
        .weather,
        .location,
        .time {
            background-color: $grey-bg;
            border-top: 1px solid $grey-border;
            -webkit-transition: border 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: border 0.3s ease-out,
                background-color 0.3s ease-out;
            -o-transition: border 0.3s ease-out, background-color 0.3s ease-out;
            transition: border 0.3s ease-out, background-color 0.3s ease-out;
        }
        .nav:hover,
        .themePicker .iconContainer:hover {
            background-color: $grey-hover;
            -webkit-transition: background-color 0.3s ease-out;
            -moz-transition: background-color 0.3s ease-out;
            -o-transition: background-color 0.3s ease-out;
            transition: background-color 0.3s ease-out;
        }
        .logoPath,
        .frmrPath,
        .themePickerPath,
        .returnPath {
            fill: #202020;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .themePicker {
            span,
            .themePickerSpacer {
                color: $grey-text;
                border-bottom: 1px solid $grey-border;
                background-color: transparent;
                -webkit-transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
                -moz-transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
                -o-transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
                transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
            }
            span:hover,
            .themePickerSpacer:hover {
                background-color: $grey-hover;
                -webkit-transition: background-color 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out;
                transition: background-color 0.3s ease-out;
            }
            .themeDrawer {
                background-color: $grey-bg;
                border-left: 1px solid $grey-border;
                -webkit-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                transition: background-color 0.3s ease-out, border 0.3s ease-out;
            }
            .iconContainer {
                border-left: 1px solid $grey-border;
                border-top: 1px solid $grey-border;
                border-bottom: 1px solid $grey-border;
                background-color: $grey-bg;
                -webkit-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                transition: background-color 0.3s ease-out, border 0.3s ease-out;
                &:hover {
                    background-color: $grey-hover;
                    -webkit-transition: background-color 0.3s ease-out;
                    -moz-transition: background-color 0.3s ease-out;
                    -o-transition: background-color 0.3s ease-out;
                    transition: background-color 0.3s ease-out;
                }
            }
        }
    }
    &.terminal {
        .logo,
        .nav,
        .weather,
        .location,
        .frmr {
            border-right: 1px solid $terminal-border;
            -webkit-transition: border 0.3s ease-out;
            -moz-transition: border 0.3s ease-out;
            -o-transition: border 0.3s ease-out;
            transition: border 0.3s ease-out;
            span {
                color: $terminal-text;
                -webkit-transition: color 0.3s ease-out;
                -moz-transition: color 0.3s ease-out;
                -o-transition: color 0.3s ease-out;
                transition: color 0.3s ease-out;
            }
        }
        .time span {
            color: $terminal-text;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .nav,
        .frmr,
        .logo,
        .weather,
        .location,
        .time {
            background-color: $terminal-bg;
            border-top: 1px solid $terminal-border;
            -webkit-transition: border 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: border 0.3s ease-out,
                background-color 0.3s ease-out;
            -o-transition: border 0.3s ease-out, background-color 0.3s ease-out;
            transition: border 0.3s ease-out, background-color 0.3s ease-out;
        }
        .nav:hover,
        .themePicker .iconContainer:hover {
            background-color: $terminal-hover;
            -webkit-transition: background-color 0.3s ease-out;
            -moz-transition: background-color 0.3s ease-out;
            -o-transition: background-color 0.3s ease-out;
            transition: background-color 0.3s ease-out;
        }
        .logoPath,
        .frmrPath,
        .themePickerPath,
        .returnPath {
            fill: $terminal-text;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .themePicker {
            span,
            .themePickerSpacer {
                color: $terminal-text;
                border-bottom: 1px solid $terminal-border;
                background-color: transparent;
                -webkit-transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
                -moz-transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
                -o-transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
                transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
            }
            span:hover,
            .themePickerSpacer:hover {
                background-color: $terminal-hover;
                -webkit-transition: background-color 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out;
                transition: background-color 0.3s ease-out;
            }
            .themeDrawer {
                background-color: $terminal-bg;
                border-left: 1px solid $terminal-border;
                -webkit-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                transition: background-color 0.3s ease-out, border 0.3s ease-out;
            }
            .iconContainer {
                border-left: 1px solid $terminal-border;
                border-top: 1px solid $terminal-border;
                border-bottom: 1px solid $terminal-border;
                background-color: $terminal-bg;
                -webkit-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                transition: background-color 0.3s ease-out, border 0.3s ease-out;
                &:hover {
                    background-color: $terminal-hover;
                    -webkit-transition: background-color 0.3s ease-out;
                    -moz-transition: background-color 0.3s ease-out;
                    -o-transition: background-color 0.3s ease-out;
                    transition: background-color 0.3s ease-out;
                }
            }
        }
    }
    &.acid {
        .logo,
        .nav,
        .weather,
        .location,
        .frmr {
            border-right: 1px solid $acid-border;
            -webkit-transition: border 0.3s ease-out;
            -moz-transition: border 0.3s ease-out;
            -o-transition: border 0.3s ease-out;
            transition: border 0.3s ease-out;
            span {
                color: $acid-text;
                -webkit-transition: color 0.3s ease-out;
                -moz-transition: color 0.3s ease-out;
                -o-transition: color 0.3s ease-out;
                transition: color 0.3s ease-out;
            }
        }
        .time span {
            color: $acid-text;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .nav,
        .frmr,
        .logo,
        .weather,
        .location,
        .time {
            background-color: $acid-bg;
            border-top: 1px solid $acid-border;
            -webkit-transition: border 0.3s ease-out,
                background-color 0.3s ease-out;
            -moz-transition: border 0.3s ease-out,
                background-color 0.3s ease-out;
            -o-transition: border 0.3s ease-out, background-color 0.3s ease-out;
            transition: border 0.3s ease-out, background-color 0.3s ease-out;
        }
        .nav:hover,
        .themePicker .iconContainer:hover {
            background-color: $acid-hover;
            -webkit-transition: background-color 0.3s ease-out;
            -moz-transition: background-color 0.3s ease-out;
            -o-transition: background-color 0.3s ease-out;
            transition: background-color 0.3s ease-out;
        }
        .work span,
        .about span,
        .contact span {
            color: $acid-text;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }
        .logoPath,
        .frmrPath,
        .themePickerPath,
        .returnPath {
            fill: $acid-text;
            -webkit-transition: fill 0.3s ease-out;
            -moz-transition: fill 0.3s ease-out;
            -o-transition: fill 0.3s ease-out;
            transition: fill 0.3s ease-out;
        }
        .smileyPath1 {
            fill: #202020;
        }
        .smileyPath2 {
            fill: #ff0;
        }
        .themePicker {
            span,
            .themePickerSpacer {
                color: $acid-text;
                border-bottom: 1px solid $acid-border;
                background-color: transparent;
                -webkit-transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
                -moz-transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
                -o-transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
                transition: color 0.3s ease-out, border 0.3s ease-out,
                    background-color 0.3s ease-out;
            }
            span:hover,
            .themePickerSpacer:hover {
                background-color: $acid-hover;
                -webkit-transition: background-color 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out;
                transition: background-color 0.3s ease-out;
            }
            .themeDrawer {
                background-color: $acid-bg;
                border-left: 1px solid $acid-border;
                -webkit-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                transition: background-color 0.3s ease-out, border 0.3s ease-out;
            }
            .iconContainer {
                border-left: 1px solid $acid-border;
                border-top: 1px solid $acid-border;
                border-bottom: 1px solid $acid-border;
                background-color: $acid-bg;
                -webkit-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                transition: background-color 0.3s ease-out, border 0.3s ease-out;
                &:hover {
                    background-color: $acid-hover;
                    -webkit-transition: background-color 0.3s ease-out;
                    -moz-transition: background-color 0.3s ease-out;
                    -o-transition: background-color 0.3s ease-out;
                    transition: background-color 0.3s ease-out;
                }
            }
        }
    }
}

// TABLET PORTRAIT

@media (min-width: $breakpoint-tablet-portrait) {
    .toolbar {
        font-size: 12px;
        .nav,
        .weather,
        .location,
        .time,
        .logo {
            display: flex;
            flex: 1 0 0;
            height: 100%;
            position: relative;
            align-items: center;
            justify-content: center;
        }
        .logo {
            order: 1;
        }
        .nav {
            order: 2;
        }
        .frmr {
            order: 3;
        }
        .weather {
            order: 4;
        }
        .location {
            order: 5;
        }
        .themePicker {
            order: 6;
        }
        .time {
            order: 7;
            span {
                font-size: 13px;
            }
        }
        .logo svg {
            width: 35px;
        }
        .weather,
        .location,
        .themPicker,
        .time {
            bottom: 0;
        }
        .themePicker,
        .weather,
        .location {
            .iconContainer {
                padding: 13px;
                height: 51px;
                svg {
                    width: 25px;
                }
            }
        }
        .themePicker {
            display: block;
            cursor: pointer;
            margin-left: -1px;
            height: 50px;
            position: relative;
            width: calc(100% / 8);
        }
        .break {
            flex-basis: auto;
        }
        &.light {
            .themePicker .themeDrawer,
            .themePicker .iconContainer {
                border-right: 1px solid $light-border !important;
                background-color: $light-bg;
                -webkit-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                transition: background-color 0.3s ease-out, border 0.3s ease-out;
            }
            .time {
                border-left: 1px solid $light-border;
            }
        }
        &.dark {
            .themePicker .themeDrawer,
            .themePicker .iconContainer {
                border-right: 1px solid $dark-border !important;
                background-color: $dark-bg;
                -webkit-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                transition: background-color 0.3s ease-out, border 0.3s ease-out;
            }
            .time {
                border-left: 1px solid $dark-border;
            }
        }
        &.grey {
            .themePicker .themeDrawer,
            .themePicker .iconContainer {
                border-right: 1px solid $grey-border !important;
                background-color: $grey-bg;
                -webkit-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                transition: background-color 0.3s ease-out, border 0.3s ease-out;
            }
            .time {
                border-left: 1px solid $grey-border;
            }
        }
        &.terminal {
            .themePicker .themeDrawer,
            .themePicker .iconContainer {
                border-right: 1px solid $terminal-border !important;
                background-color: $terminal-bg;
                -webkit-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                transition: background-color 0.3s ease-out, border 0.3s ease-out;
            }
            .time {
                border-left: 1px solid $terminal-border;
            }
        }
        &.acid {
            .themePicker .themeDrawer,
            .themePicker .iconContainer {
                border-right: 1px solid $acid-border !important;
                background-color: $acid-bg;
                -webkit-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out,
                    border 0.3s ease-out;
                transition: background-color 0.3s ease-out, border 0.3s ease-out;
            }
            .time {
                border-left: 1px solid $acid-border;
            }
        }
    }
}

// TABLET LANDSCAPE

@media (min-width: $breakpoint-tablet-landscape) {
    .toolbar {
        height: 60px;
        .nav,
        .weather,
        .location,
        .time,
        .themePicker,
        .logo {
            width: 80px;
            flex: 0 0 auto;
            text-align: center;
        }
        .time span {
            font-size: 14px;
        }
        .logo {
            padding: 8px 0;
            svg {
                width: 42px;
            }
        }
        .frmr {
            display: flex;
            flex: 1 0 auto;
            position: relative;
            bottom: 0;
            width: auto;
            padding: 0;
            height: 60px;
            align-items: center;
            justify-content: center;
            svg {
                width: 80px;
            }
        }
        .themePicker {
            width: 80px;
            height: 60px;
            .themeDrawer {
                span {
                    display: block;
                    padding: 20px 0;
                    height: 60px;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
            .themePickerSpacer {
                padding: 17px;
                svg {
                    width: 27px;
                }
            }
        }
        .themePicker,
        .weather,
        .location {
            .iconContainer {
                padding: 15px;
                height: 61px;
                svg {
                    width: 30px;
                }
            }
        }
    }
}

// LAPTOP +

@media (min-width: $breakpoint-laptop) {
    .toolbar {
        height: 70px;
        font-size: 14px;
        .nav,
        .weather,
        .location,
        .time,
        .themePicker,
        .logo {
            width: 100px;
            svg {
                width: 50px;
            }
        }
        .time span {
            font-size: 18px;
        }
        .frmr {
            height: 70px;
            svg {
                width: 110px;
            }
        }
        .themePicker {
            width: 100px;
            height: 70px;
            .themeDrawer {
                span {
                    display: block;
                    padding: 24px 0;
                    height: 70px;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
            .themePickerSpacer {
                padding: 19px;
                svg {
                    width: 30px;
                }
            }
        }
        .themePicker,
        .weather,
        .location {
            .iconContainer {
                height: 71px;
                svg {
                    width: 40px;
                }
            }
        }
    }
}
